/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: hsl(214, 15%, 91%);
  color: hsl(212, 56%, 16%);
  font-family: -apple-system, "Segoe UI", Roboto, Noto Sans, Ubuntu, Cantarell, "Helvetica Neue";
}

.notice {
  background-color: hsl(209, 14%, 37%);
  border: 2px solid hsl(210, 16%, 82%);
  border-radius: 10px;
  color: white;
  margin: 15px auto;
  max-width: 40%;
  padding: 10px 10px;
  text-align: center;
  font-weight: bold;
}
